.next/
node_modules/
.open-next/
.wrangler/
coverage/
tsconfig.tsbuildinfo

.env*
!.env.example
ADMIN_TEST_*.env

tests/.tmp-ts-modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
